<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="injectionDao" class="main.java.spring.ioc.injection.dao.InjectionDaoImpl"></bean>

    <!--<bean id="injectionService" class="main.java.spring.ioc.injection.service.InjectionServiceImpl">-->
        <!--<property name="injectionDao" ref="injectionDao"></property>-->
    <!--</bean>-->

    <bean id="injectionService" class="main.java.spring.ioc.injection.service.InjectionServiceImpl">
        <constructor-arg name="injectionDao" ref="injectionDao"></constructor-arg>
    </bean>
</beans>